body {
  line-height: 1.6em;
}

p {
  margin-bottom: 0.25em;
}

a.label:hover,
a.label:focus {
  color: white;
}

a.label.new { background-color: #d0d0d0; }

a.button.dropdown { float:right;}

/* Hide the page actions button for special pages (cuz there's nothing in it) */
.mw-special-FormEdit a.button.dropdown, .ns-special a.button.dropdown { display:none; }

/* Hide some rows on form-edit (e.g. a thing's title) */
body.action-formedit .row.hide-on-form-edit { display: none;}

/* Move the MediaWiki notification area so it isn't on top of the Action menu */
.mw-notification-area {
  margin-top: 2em;
}

/* Also adjust z-index of action menu to force it on top */
#p-cactions #drop1 {
  z-index: 100000;
  white-space: nowrap;
}
#p-cactions #drop1 a {
  width: 100%;
  text-align: left;
}

/* Make sure top bar is even more z-indx! */
#toolbox-dropdown {
  z-index: 10000000;
}
#personal-tools-dropdown {
  z-index: 10000000;
}

/* Dropdown Icon Alignment */
.drop-icon {
  display: inline;
  margin-right: 4px;
}

td.mw-submit a,
.htmlform-tip,
#mw-upload-permitted p {
  font-size: 90%;
}

alert.label a {color: pink;}

code {
  font-weight: normal;
  color: #222222;
}

small {
  font-size: 80%;
}

h4.namespace.label {
  font-size: small;
  display:inline-block;
}

.label {
  padding-bottom: 0.39em;
}

h2 span {
  display: inline-block;
}

h2.title {
  margin-bottom: 0.1em;
}

h3#tagline {
  font-style: italic;
  font-size: small;
  margin-bottom: 0.5em;
  color: #6f6f6f;
}

.clear_both {
  clear:both;
}

.large-2 strong, .large-2 b {
  display: block;
}

.large-2 strong, .large-2 b, table th {
  font-size: 0.875em;
  color: #4d4d4d;
  font-weight: 500;
}

/* LAYOUT */

.row .row {
  margin-bottom: 0.9em;
}

div.small-10 .row {
  margin: 1em 0 0 0;
}

div.small-9.columns textarea {
  margin-bottom: 0.25em;
}

footer.row {
  margin-top: 2em;
  color: grey;
}

div {
  line-height: 1.60em;
}


/* NOTICES, ALERTS, WARNINGS */
div#userloginprompt, p#userloginlink {
  font-size: 80%;

}


/* LISTS */

ul#drop1.f-dropdown {
  margin-left:0;
  margin-top:.5em;
  margin-bottom:.25em;
  padding:.25em;
}

#mw-content-text ul {
  margin: .5em 1.25em;
}

footer.row ul {
  list-style-type: none;
  margin: 0 0 1em 0;
}

footer.row ul.views.columns li {
  margin-right: 1em;
}

#footer footer.row ul {
margin: 0;
list-style-type: none;
}

/* Make social footer center need overflow:hidden and other div classes */
.social-footer {
margin: 0 0 1em;
font-size: 90%;
overflow: hidden;
}
/* Hide all text in p elements */
.social-footer p {
display: none;
}
/* Outer wrap */
.social-links {
position: relative;
left: 50%;
float: left;
}
/* addThis container (inner wrap) */
.addthis_horizontal_follow_toolbox {
position: relative;
left: -50%;
float: left;
z-index: 100000;
}
/* end social footer classes */

#footer-left {
font-size: 90%;
text-align: left;
}
#footer-right-icons {
font-size: 85%;
text-align: center;
}

#footer-right-icons li {
display: inline-block;
text-align: center;
margin: 0 0 .5em .5em;
}

li#footer-privacy {
float: left;
margin-right: 2em;
}

li#footer-about {
float: left;
margin-right: 2em;
}

li#footer-disclaimer {
float: left;
margin-right: 2em;
}

.text-center #footer-left li {
float: none;
margin: 0;
}
.text-center #footer-left {
text-align: center;
}

@media only screen and (max-width: 768px) {
#footer-left { font-size: 85%; text-align: center;}
#footer-right-icons { font-size: 80%;}
li#footer-privacy { float: none; margin-right: 0;}
li#footer-about { float: none; margin-right: 0;}
li#footer-disclaimer { float: none; margin-right: 0;}
}

.columns ul.special li {
  float:none;
  width: 100%;
}

.columns div#uploadtext ul {
  list-style-type: disc;
}

.columns div#uploadtext ul li {
 float: none;
 width: 95%;
 margin-left: 2em;
}

.catlinks li {border-left:none;}

.mw-specialpages-table td ul.columns li {width: 50%;}

/*#mw-content-text .columns li {float:none;width:90%;}*/

footer.row ul.columns li { display: inline;float:none;}

.columns #mw-normal-catlinks ul li {
  float: none;
  width: auto;
}

#mw-normal-catlinks a.new {
  color: white;
}

ul.vcard { padding: 0.5em 0.5em 0.55em 0.5em; }

/* HEADERS */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0em;
  line-height: 1em;
}

.page-Special_SpecialPages h2 {
  margin-bottom: 0.5em;
}


.editsection {
  font-weight: normal;
  font-size: 0.4em;
}

h3 {
  font-weight: normal;
  font-size:1em;
}

.ns-subject h3,
.ns-special h3,
.page-Main_Page h3 {
  font-weight: bold;
  font-size: 2em;
}

p.title {
  padding: 0.9375em;
}

/* TABLES */

.mw-content-ltr table#toc {
  float:right;
  width: auto;
}

.mw-content-rtl table#toc {
  float:left;
  width: auto;
}

table.formtable {
  border: none;
}

table td[align="right"] {text-align: right;}

/* TURN OFF TABLE STRIPING FOR EDITFORMS */
table.formedit tr.even,
table.formedit tr.alt,
table.formedit tr:nth-of-type(even) {
  background: transparent;
}


table {
  width: 100%;
}

td.mw-label {
  width: 20%;
}

td.mw-input {
  width: 80%;
}

thead tr th {
  cursor: pointer;
}

table.formtable th {
  text-align: right !important;
}

td.smwpropname, th.smwpropname, td.smwspecname {
  text-align:left;
}

table tbody tr td, table tr td {
  line-height: 1.6em;
}

table.wikitable {
  margin: 0em 0 1em 0;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
  text-align: left;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
  border: 3px #fff solid;
  padding: 0.6em;
}

/* FORMS, INPUTS, FIELDSETS */

.multipleTemplateInstance {
  background-color: white !important;
  border: none !important;
  border-bottom: 1px dashed #999999 !important;
}

.multipleTemplateInstance table {
  border: none !important;
}

.multipleTemplateAdder {
  font-size: 0.9em;
  padding: 0.4125em 0.5em 0.55em 0.5em;
}

 .novalue {
  color: #999999;
  font-style:italic;
  font-size:small;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  padding: 5px;
}

input[type="file"],
select {
  padding: 5px;
  border: 1px solid #cccccc;
}

.inputSpan select.createboxInput,
.dateInput select.monthInput,
input.hourInput,
input.minuteInput,
input.secondInput,
input.dayInput,
input.yearInput,
input[name="*[* date][hour]"],
input[name="*[* date][minute]"],
input[name="*[* date][second]"] {
  width: auto;
  margin-right: 1em;
}

/*
.inputSpan input.createboxInput {
  width: 100%;
}
*/
.inputSpan button,
.inputSpan .button {
  margin: -4px 0 0 0;
  padding:0.37em 0.75em 0.6em 0.70em;
}

.ms-selectable input[type="text"] {
  width: 100%;
}

button.ui-button-icon-only {
  height: 2.24em !important;
}

select {width:auto;}


input[type="checkbox"].createboxInput {
  width: auto;
}

label.checkboxLabel {
  margin-right: 0.5em;
}

.edit_with_form {
  margin: -2em 0 0 0;
  float:right;
}

input[type="radio"],
input[type="checkbox"] {
  display:inline;
}

input[type='file'] {
  margin-top: 0.4em;
}

input:not([type]),
textarea,
p.meta {
  margin-bottom: 4px;
}

label {
  display: inline;
  font-weight: normal;
}

.mw-input label { font-weight: normal; }

#mw-content-text ul.SFI_timepicker_hours,
#mw-content-text ul.SFI_timepicker_minutes {
  list-style-type: none;
}

#mw-content-text ul.SFI_timepicker_hours li {
  margin: 2px 2px;
  padding: 4px;
}

.sminput.sminput-googlemaps3 p button {
  padding-top: 0.35em;
  padding-bottom: 0.6em;
}

li label.inline {
  margin-bottom: 2px;
  padding: 0;
}

button, .button {
  margin: 0.5em 0;
  padding: 0.3em 0.75em 0.4em 0.75em;
}

.top-bar .button.search {
  top: 0px;
}

.top-bar .button.search {
  margin-left: 10px;
}

.top-bar-section .has-form {
  padding: 0 5px;
}

.top-bar input {
  top: 0px;
}

@media only screen and (min-width: 768px) {
.top-bar .button.search {
  top: 1px; }
.top-bar .button.search {
  margin-left: -4px; }
}

.top-bar-section .dropdown {
  z-index: 100;
}

input[type="submit"] {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

input#wpPreview {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: black;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.editButtons input[type="submit"] {
  display: inline-block;
}

legend {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

fieldset {
  line-height: 1.6em;
  padding: 0 1.25em 1em 1.25em;
  margin-top: 0;
}

span.smwbuiltin,
span.smwttactiveinline span.smwbuiltin {
  font-style: normal;
}


/* MW still generates a label column for checkboxes, this minimizes is */
div.mw-htmlform-field-HTMLCheckField div.mw-label { height:0; }


/* ZUBR IE8 FIXES */
/* GRID: https://gist.github.com/zurbchris/5068210 */
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1,
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2,
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3,
.lt-ie9 .row .large-3 { width: 25%; }

.lt-ie9 .large-4,
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5,
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6,
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7,
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8,
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9,
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10,
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11,
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }
/* END IE8 GRID */

.lt-ie9 .hide-for-small { display: block !important; }

/* TOP NAV */
.lt-ie9 .top-bar-section {
  display:block;
}

.lt-ie9 .top-bar-section ul {
  height: auto;
  width: 100%;
}

.lt-ie9 .top-bar .top-bar-section ul,
.lt-ie9 .top-bar .top-bar-section ul li {
  float: left;
  display: inline;
}
/* END OTHER IE8 FIXES */

/* UNTIL I CAN DETERMINE WHY toolboxend GENERATES AN EMPTY <li> IN THE MENU, I'M HIDING IT */
#p-toolboxend { display:none;}


/* Jamie's Header Hider */
body.page-Main_Page h1.firstHeading,
body.page-Main_Page #siteSub,
body.page-Extension_Main_Page h1.firstHeading,
body.page-Extension_Main_Page #siteSub,
body.page-Skin_Main_Page h1.firstHeading,
body.page-Skin_Main_Page #siteSub,
body.page-Farm_Main_Pageh1.firstHeading,
body.page-Farm_Main_Page #siteSub,
body.mw-special-Userlogin h2.title {
  display:none;
}

/* Don't like the black top bar? Copy this into your Common.css and change the colors
.top-bar,
.top-bar-section ul,
.top-bar-section ul li.active > a,
.top-bar-section li a:not(.button),
.top-bar-section .has-form,
.top-bar.expanded .title-area  {
   background: black;
   color: white;
}

.top-bar-section > ul > .divider,
.top-bar-section > ul > [role="separator"] {
  border-color: black;
}
*/

/* Add improved styling for the Echo extension */

#echo-notifications {
  float: right;
  display: inline-block;
  margin: .5em 1em;
}

#echo-notifications #pt-notifications {
  position: relative;
  list-style: none;
}

#echo-notifications #pt-notifications .mw-echo-notifications-badge
{
  width: 30px;
  height: 35px;
  text-align: center;
  border-radius: 6px;
  margin: 0;
  padding:6px;
}

#echo-notifications #pt-notifications a.mw-echo-short-link .mw-badge
{
  margin:0;
  padding:6px;
}

#echo-notifications #pt-notifications .mw-badge-content {
  font-size: 1.3em;
  line-height: 1.1;
}

#echo-notifications .mw-echo-overlay-pokey {
  top: 30px;
  left: -1px;
}
#echo-notifications .mw-echo-overlay {
  left: -185px;
  width: 300px;
  top: 40px;
}

#echo-notifications .mw-echo-overlay-title {
  padding: 10px;
}

#echo-notifications .mw-echo-icon {
  margin: 5px;
}

#echo-notifications a.mw-echo-short-link .mw-badge {
  margin-left: 0;
}

#echo-notifications #mw-echo-overlay-pref-link {
  background-image:none;
  font-size: 14px;
  padding-left:0;
  border-left:none;
}

#echo-notifications #mw-echo-overlay-link {
  padding: 10px 0px 10px 15px;
  background-position: left 50%;
  border-right: none;
  margin-right:0;
}

#echo-notifications .mw-echo-dismiss {
  padding: 10px;
  font-size: .8em;
  min-width: 100%;
}

#echo-notifications .mw-echo-notification {
  overflow: visible;
}

#echo-notifications .mw-echo-title {
  max-width: 99%;
}

/* Make Echo extension more mobile friendly on small widths */

@media only screen and (min-width: 550px) {
#echo-notifications .mw-echo-overlay { left: -420px; width: 450px; }
#echo-notifications #mw-echo-overlay-pref-link { padding: 10px 0 10px 30px; }
#echo-notifications #mw-echo-overlay-link { border-right: 1px solid #DDDDDD; margin-right: 2em; }
}
