body {
  line-height: 1.6em;
}

p {
  margin-bottom: 0.25em;
}

a.label:hover,
a.label:focus {
  color: white;
}

td.mw-submit a,
.htmlform-tip,
#mw-upload-permitted p {
  font-size: 90%;
}

code {
  font-weight: normal;
  color: #222222;
}

small {
  font-size: 80%;
}

h2 small.label {
  font-size: small;
  display:inline-block;
}

h2 span {
  display:block;
}


.clear_both {
  clear:both;
}

.large-2 strong, .large-2 b {
  display: block;
}

.large-2 strong, .large-2 b, table th {
  font-size: 0.875em;
  color: #4d4d4d;
  font-weight: 500;
}

/* LAYOUT */

.row .row {
  margin-bottom: 0.9em;
}

div.small-10 .row {
  margin: 1em 0 0 0;
}

div.small-9.columns textarea {
  margin-bottom: 0.25em;
}

footer.row {
  margin-top: 3em;
  text-align: center;
  font-size: 80%;
  color: grey;
}

div {
  line-height: 1.60em;
}


/* NOTICES, ALERTS, WARNINGS */
div#userloginprompt, p#userloginlink {
  font-size: 80%;

}


/* LISTS */
#mw-content-text ul {
  list-style-type: disc;
  margin: .5em 1.25em;
}

footer.row ul {
  list-style-type: none;
  margin: .5em 1.25em;
}

footer.row ul.views.columns li {
  margin-right: 1em;
}

.columns ul.special li {
  float:none;
  width: 100%;
}

.columns div#uploadtext ul {
  list-style-type: disc;
}

.columns div#uploadtext ul li {
 float: none;
 width: 95%;
 margin-left: 2em;
}

.catlinks li {border-left:none;}

.mw-specialpages-table td ul.columns li {width: 50%;}

#mw-content-text .columns li {float:none;width:90%;}

footer.row ul.columns li { display: inline;float:none;}

.columns #mw-normal-catlinks ul li {
  float: none;
  width: auto;
}

#mw-normal-catlinks a.new {
  color: white;
}

ul.vcard { padding: 0.5em 0.5em 0.55em 0.5em; }

/* HEADERS */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0em;
  line-height: 1em;
}

.page-Special_SpecialPages h2 {
  margin-bottom: 0.5em;
}


.editsection {
  font-weight: normal;
  font-size: 0.4em;
}

h3 {
  font-weight: normal;
  font-size:1em;
}

.ns-subject h3,
.ns-special h3,
.page-Main_Page h3 {
  font-weight: bold;
  font-size: 2em;
}

p.title {
  padding: 0.9375em;
}

/* TABLES */

table.formtable {
  border: none;
}

table td[align="right"] {text-align: right;}

/* TURN OFF TABLE STRIPING FOR EDITFORMS */
table.formedit tr.even,
table.formedit tr.alt,
table.formedit tr:nth-of-type(even) {
  background: transparent;
}


table {
  width: 100%;
}

td.mw-label {
  width: 20%;
}

td.mw-input {
  width: 80%;
}

thead tr th {
  cursor: pointer;
}

table.formtable th {
  text-align: right !important;
}

td.smwpropname, th.smwpropname, td.smwspecname {
  text-align:left;
}


table tbody tr td, table tr td {
  line-height: 1.6em;
}

table.wikitable {
  margin: 0em 0 1em 0;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
  text-align: left;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
  border: 3px #fff solid;
  padding: 0.6em;
}

/* FORMS, INPUTS, FIELDSETS */

.multipleTemplateInstance {
  background-color: white !important;
  border: none !important;
  border-bottom: 1px dashed #999999 !important;
}

.multipleTemplateInstance table {
  border: none !important;
}

.multipleTemplateAdder {
  font-size: 0.9em;
  padding: 0.4125em 0.5em 0.55em 0.5em;
}

 .novalue {
  color: #999999;
  font-style:italic;
  font-size:small;
}

.inputSpan select.createboxInput,
.dateInput select.monthInput,
input.hourInput,
input.minuteInput,
input.secondInput,
input.dayInput,
input.yearInput,
input[name="*[* date][hour]"],
input[name="*[* date][minute]"],
input[name="*[* date][second]"] {
  width: auto;
  float: left;
  margin-right: 1em;
}

.inputSpan button,
.inputSpan .button {
  margin: -4px 0 0 0;
  padding:0.37em 0.75em 0.6em 0.70em;
}

.ms-selectable input[type="text"] {
  width: 100%;
}

button.ui-button-icon-only {
  height: 2.24em !important;
}

select {width:auto;}

input.createboxInput {
  width: 100%;
}

input[type="checkbox"].createboxInput {
  width: auto;
}

label.checkboxLabel {
  margin-right: 0.5em;
}

.edit_with_form {
  margin: -2em 0 0 0;
  float:right;
}

input[type="radio"],
input[type="checkbox"] {
  display:inline;
}

input[type='file'] {
  margin-top: 0.4em;
}

input:not([type]),
textarea,
p.meta {
  margin-bottom: 4px;
}

textarea { width: 87%;}

label { display: inline;}

.mw-input label { font-weight: normal; }

ul.SFI_timepicker_hours { list-style-type: none; }
ul.SFI_timepicker_hours li {
  margin: 2px 2px;
  padding: 4px;
}

.sminput.sminput-googlemaps3 p button {
  padding-top: 0.35em;
  padding-bottom: 0.6em;
}

li label.inline {
  margin-bottom: 2px;
  padding: 0;
}

div.small-9.columns label,
div.small-10.columns label {
  font-weight: normal;
}

button, .button {
  margin: 0.5em 0;
  padding: 0.3em 0.75em 0.4em 0.75em;
}

input[type="submit"] {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

input#wpPreview {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: black;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.editButtons input[type="submit"] {
  display: inline-block;
}

legend {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

fieldset {
  line-height: 1.6em;
  padding: 0.25em 1.25em 1em 1.25em;
}

span.smwbuiltin,
span.smwttactiveinline span.smwbuiltin {
  font-style: normal;
}


/* MW still generates a label column for checkboxes, this minimizes is */
div.mw-htmlform-field-HTMLCheckField div.mw-label { height:0; }

/* UNTIL I CAN DETERMINE WHY toolboxend GENERATES AN EMPTY <li> IN THE MENU, I'M HIDING IT */
#p-toolboxend { display:none;}

/* Jamie's Header Hider */
body.page-Main_Page h1.firstHeading,
body.page-Main_Page #siteSub,
body.page-Extension_Main_Page h1.firstHeading,
body.page-Extension_Main_Page #siteSub,
body.page-Skin_Main_Page h1.firstHeading,
body.page-Skin_Main_Page #siteSub,
body.page-Farm_Main_Pageh1.firstHeading,
body.page-Farm_Main_Page #siteSub {
  display:none;
}

