body {
  line-height: 1.6em;
}

p {
  margin-bottom: 0.25em;
}

td.mw-submit a,
.htmlform-tip,
#mw-upload-permitted p {
  font-size: 90%;
}

code {
  font-weight: normal;
  color: #222222;
}

small {
  font-size: 80%;
}

h3 small {
  font-size: small;
  margin-right: 1em;
}

.section strong {
  font-size: 0.875em;
  color: #4d4d4d;
  display: block;
  font-weight: 500;
}

/* LAYOUT */

div.small-10 .row {
  margin: 1em 0 0 0;
}

div.small-9.columns textarea {
  margin-bottom: 0.25em;
}

footer.row {
  margin-top: 3em;
  text-align: center;
  font-size: 80%;
  color: grey;
}

div {
  line-height: 1.60em;
}


/* NOTICES, ALERTS, WARNINGS */
div#userloginprompt, p#userloginlink {
  font-size: 80%;

}


/* LISTS */
#mw-content-text ul,
footer.row ul {
  list-style-type: none;
  margin: .5em 1.25em;
}

.columns li {
  float:left;
  width: 45%;
}

.columns ul.special li {
  float:none;
  width: 100%;
}

.columns div#uploadtext ul {
  list-style-type: disc;
}

.columns div#uploadtext ul li {
 float: none;
 width: 95%;
 margin-left: 2em;
}

.mw-specialpages-table td ul.columns li {width: 50%;}

#mw-content-text .columns li {float:none;width:90%;}

footer.row ul.columns li { display: inline;float:none;}



/* HEADERS */

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0em;
}

.page-Special_SpecialPages h2 {
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
}

h2 .editsection {
  font-weight: normal;
  font-size: 0.3em;
}

h3 {
  font-weight: normal;
  font-size:1em;
}

.ns-subject h3,
.ns-special h3,
.page-Main_Page h3 {
  font-weight: bold;
  font-size: 2em;
}

/* TABLES */

table.formtable {
  border: none;
}

/* TURN OFF TABLE STRIPING FOR EDITFORMS */
table.formedit tr.even,
table.formedit tr.alt,
table.formedit tr:nth-of-type(even) {
  background-color: transparent;
}


table {
  width: 100%;
}

td.mw-label {
  width: 20%;
}

td.mw-input {
  width: 80%;
}

thead tr th {
  cursor: pointer;
}

table.formtable th {
  text-align: right !important;
}

td.smwpropname, th.smwpropname, td.smwspecname {
  text-align:left;
}


table tbody tr td, table tr td {
  line-height: 1.6em;
}

table.wikitable {
  margin: 0em 0 1em 0;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
  text-align: left;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
  border: 3px #fff solid;
  padding: 0.6em;
}

/* FORMS, INPUTS, FIELDSETS */

input[type="radio"],
input[type="checkbox"] {
  display:inline;
}

input[type='file'] {
  margin-top: 0.4em;
}

input:not([type]),
textarea,
p.meta {
  margin-bottom: 4px;
}

label { display: inline;}

.mw-input label { font-weight: normal; }

li label.inline {
  margin-bottom: 2px;
  padding: 0;
}

div.small-9.columns label,
div.small-10.columns label {
  font-weight: normal;
}

button, .button {
  margin: 0.5em 0;
  padding: 0.3em 0.75em 0.4em 0.75em;
}

input[type="submit"] {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

legend {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

fieldset {
  line-height: 1.6em;
  padding: 0.25em 1.25em 1em 1.25em;
}

span.smwbuiltin,
span.smwttactiveinline span.smwbuiltin {
  font-style: normal;
}


/* MW still generates a label column for checkboxes, this minimizes is */
div.mw-htmlform-field-HTMLCheckField div.mw-label { height:0; }

/* UNTIL I CAN DETERMINE WHY toolboxend GENERATES AN EMPTY <li> IN THE MENU, I'M HIDING IT */
#p-toolboxend { display:none;}
y {background-color: green;}
}
